.contacts {
    &__container {
        .container;
    }

    &__text-1170-1,
    &__text-1170-2 {
        display: none;
    }

    &__wrapper {
        margin-bottom: 230px;
        display: flex;
        justify-content: space-between;

        
        @media @bw1660 {
            margin-bottom: 130px;
        }

        @media @bw1170 {
            flex-direction: column-reverse;
            margin-bottom: 102px;
        }  
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 67px;
        margin-right: 30px;
        align-self: center;

        @media @bw1660 {
            gap: 53px 0;
        }

        @media @bw1170 {
            flex-direction: row;
            justify-content: space-between;
            margin-right: 0;
            gap: 0;
        }

        @media @bw768 {
            flex-direction: column;
            margin-right: 30px;
            align-self: flex-start;
            gap: 40px;
        }
    }

    &__map {
        width: 752px;
        height: 493px;

        margin: auto 0;

        @media @bw1170 {
            width: 706px;
            height: 464px;
            margin: 0 auto;
            margin-bottom: 100px;
        }

        @media @bw768 {
            width: 275px;
            height: 184px;
            margin-bottom: 60px;
        }
    }

    &__text-wrapper {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        min-width: 2100px;
        max-width: 2110px;
        width: 100%;
        height: 100%;
        margin: 0 auto 61px;
        color: @black;
        font-family: @font3;
        font-size: 128px;
        font-weight: 700;
        font-style: normal;
        line-height: 120%; 

        @media @bw1660 {
            margin: 0 auto 100px;
            min-width: 1480px;
            max-width: 1480px;
            font-size: 90px;
        }

        @media @bw1170 {
            align-items: flex-start;
            margin: 0;
            margin-bottom: 103px;
            min-width: 1480px;
            max-width: 1480px;
            font-size: 80px;
        }

        @media @bw768 {
            margin-bottom: 98px;
        }
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
        text-wrap: nowrap;


    }

    &__text2 {
        margin-top: 0;
        margin-bottom: 0; 

        @media @bw768 {
            margin-left: -57px;
            font-size: 40px;
            line-height: normal;
        }

    }

    @media @bw1170 {
        &__text-1170-1 {
            display: block;
            align-content: flex-start;
            margin: 0;
            margin-bottom: 0;
            margin-left: -28px;
           
        }

        &__text-1170-2 {
            display: block;
            margin: 0;
            margin-left: 254px;
            line-height: 127px;
        }

        &__text {
            display: none;
        }
    }

    @media @bw768 {
        &__text-1170-1 {
            display: block;
            margin-left: -12px;
            align-content: flex-start;
            font-size: 40px;
            line-height: normal;
        }

        &__text-1170-2 {
            display: block;
            margin: 0;
            margin-left: 81px;
            font-size: 40px;
            line-height: 165%;
        }

        &__text {
            display: none;
        }
    }
}