.events {
    padding: 70px 0 100px;

    @media @bw1660 {
        padding: 50px 0 100px;
    }

    @media @bw768 {
        padding: 42px 0 90px;
    }

    &__section-title__2 {
        font-size: 22px;
        margin-bottom: 150px;

        @media @bw1660 {
            margin-top: 20px;
            margin-bottom: 130px;
        }

        @media @bw1170 {
            margin-bottom: 98px;
            font-size: 23px;
            font-weight: 300;
        }
    }

    &__link-vertical {

        @media @bw1660 {
            margin-bottom: 0;
        }
        
        @media @bw1340 {
            margin-bottom: 0;
        }

        @media @bw600 {
            font-size: 14px;
        }
    }

    &__arrow-vertical {
        @media @bw1660 {
            margin-top: 24px;
        }
        
    }
    
    &__listing {
        margin-bottom: 100px;

        @media @bw1660 {
            margin-bottom: 101px;
        }
    
        @media @bw1020 {
            margin-bottom: 103px;
        }
        
        @media @bw768 {
            margin-bottom: 60px;
        }
    
    }

    &__services {
        .container;
        
        margin-bottom: 51px;

        @media @bw1660 {
            margin-bottom: 41px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

   

    &__iwant-title {
        position: relative;
        left: 7px;

        @media @bw1020 {
            left: 0;
            margin-bottom: 43px;
        }

        @media @bw768 {
            margin-bottom: 20px;
        }
    }

    &__services-description {
        max-width: 870px;
        margin: 0 0 60px;
        font-size: 16px;
        line-height: 22px;

        @media @bw1020 {
            margin-bottom: 53px;
        }
        

        @media @bw768 {
            margin: 0 0 40px;
        }
    }

    &__page-footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}