.event-card{
    display: flex;
    width: 405px;
    max-width: 100%;
    min-width: 280px;
    color: @black;
 
    &__link{
    
        text-decoration: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        &:active{
            .event-card__title{
                color: @red;
                text-decoration-color: @red;
            }        
        }

        &:hover .event-card__title{
            @media (hover: hover){
                color: @red;
                text-decoration-color: @red;
            }
        }
    }

    &__picture{
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 0; 
        font-size: 0;
        text-decoration: none;
        overflow: hidden;
        &::after{
            content: "";
            display: block;
            width: 100%;

        }
    }

    &__title{
    margin-top: 20px;
    margin-bottom: 0;
    min-height: 64px;
    font-size: 24px;
    }

    &__description{
        min-height: 64px;
    
    }
}
