.events-preview {
        position: relative; 
        width: 100%; 
        padding: 35px 0 40px; 
        overflow: hidden; 
        &::before, 
        &::after { 
          content: ""; 
          display: block; 
          position: absolute; 
          top: 0; 
          width: 0; 
          height: 0; 
          border-bottom: 35px solid fade(@white, 60%); 
       
        } 
        &::before { 
          left: 0; 
          border-right: 34vw solid transparent; 
        } 
        &::after { 
          right: 0; 
          border-left: 66vw solid transparent; 
         
        } 
      &__wrapper { 
          width: 100%; 
          padding: 85px 0 50px; 
          background-color: fade(@white, 60%); 

          @media @bw1660 {
            padding: 85px 0 40px; 
        }

        @media @bw1170 {
          padding: 52px 0 0; 
      }  
      @media @bw768 {
        padding: 10px 0 0; 
    }
          
           

          &::before, 
          &::after { 
            content: ""; 
            display: block; 
            position: absolute; 
            bottom: 0; 
            width: 0; 
            height: 0; 
            border-top: 40px solid fade(@white, 60%); 
          } 
          &::before { 
            left: 0; 
            border-right: 61vw solid transparent; 
          } 
          &::after { 
            right: 0; 
            border-left: 39vw solid transparent; 
          } 
        } 

    &__container {
        .container;
        position: relative;
        display: block;
    }

    &__events-list {
        @media @bw1340 {
            padding: 0;
            justify-content: none;
            flex-wrap: nowrap;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__listing {
        @media @bw1340 {
            padding: 0;
        }
    }

    &__stripper {        


        @media @bw1340 {
            width: 10px;
            margin: 0 2px;
        }
    }
    
    &__arrow-right,
    &__arrow-left {
     
        padding: 0;
        display: flex;
        align-items: center;
        content: '';
        text-decoration-color: transparent; 
        transition: color 0.2s, text-decoration-color 0.2s; 
        border-color: transparent;
        cursor: pointer;
        &:hover{
            color: @red; 
            text-decoration-color: @red; 
        }
    }

    &__link {
        max-width: 115px;
        display: flex;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-right: 0;
        float: right;

        @media @bw1660 {
          
      }

        @media @bw768 {
            margin-top: 18px;
            font-size: 14px;
        }
    }
}