.index{
    &__listing{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;

    }

    &__title{
        display: block;
        box-sizing: content-box;
        text-align: center;
        max-width: 300px;
        width: 100%;
        margin: 10px 10px;
        text-decoration: none;
        font-family: @font1;
        background-color: bisque;
        border-radius: 10%;
        &:hover{
            color: @red;
        }

    }
}
