.reserve {
    width: 100%;
    display: grid;
    gap: 70px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
        "checks scheme"
        "order legend";
    
    @media @bw1660 {
        gap: 70px 6%;
        grid-template-columns: 402px calc(94% - 406px);
    }

    @media @bw1340 {
        gap: 65px 6.5%;
        grid-template-columns: 340px calc(93.5% - 340px);
    }
    
    @media @bw1020 {
        gap: 60px;
        grid-template-columns: auto 390px;
        grid-template-areas: 
          "scheme scheme"
          "checks legend"
          "checks order"; 
    }

      @media @bw768 {
        gap: 54px;
        grid-template-columns: 100%;
        grid-template-areas: 
          "scheme"
          "legend"
          "checks"
          "order"; 
    }

    &__checks {
        grid-area: checks;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

   

    &__label {
        &--red {
            color: @red;
        }
        &--disabled {
            color: @gray_dark;
        }
    }

    &__order {
        grid-area: order;
    }

    &__scheme {
        grid-area: scheme;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__legend {
        grid-area: legend;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        @media @bw768 {
            text-align: left;
            align-items: flex-start;
        }
    }

    &__section-title {
        margin: 0 0 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: normal;
        &--mb30 {
            margin-bottom: 30px;
        }

        @media @bw768 {
            align-self: self-start;
            font-size: 16px;   
        }
    }

    &__check {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }


    &__scheme-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 780px;

        @media @bw1170 {
            margin: 0 auto;
            max-width: 630px;
        }  
    }

    &__scheme-title {
        margin: 0 0 40px;
        padding: 6px 56px;
        background-color: @black;
        color: @white;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;

        @media @bw1170 {
            padding: 6px 50px;
            margin-bottom: 40px;
            line-height: 16px;
            font-size: 11px;
        }

        @media @bw768 {
            font-weight: 700;
            font-size: 11px;   
        }
    }

    &__scheme-wrapper {
        position: relative;
        width: 100%;

        &::after {
          content: "";
          display: block;
          width: 100%;
          padding-top: 51.15384%;
        }
    }
    
    &__scene {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__booking-title {
        @media @bw1170 {
            max-width: 180px;
            font-size: 16px;
        }
    }

    &__sum-title {
        @media @bw1170 {
            margin-top: 4px;
            font-size: 16px;
        }
    }

    &__tickets-title {
        @media @bw1170 {
            font-size: 16px;
        }
    }

    &__tickets {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @media @bw768 {
            margin-bottom: -4px;
        }
    }

    &__qty { 
        padding-bottom: 18px;
        font-size: 16px;

        @media @bw768 {
            font-size: 14px;  
        }
        
        &::after {
            content: " " attr(data-caption) " | " attr(data-price);
        }
    }

    &__sum {
        font-weight: 600;

        @media @bw768 {
            font-size: 14px;  
        }

        &::after {
            content: attr(data-currency);
            margin-left: 4px;
            font-size: 0.95em;
        }
    }

    &__total {
        margin-top: 10px;
        margin-bottom: 55px;
        text-align: center;
        font-weight: 600;
        font-size: 20px; 

        @media @bw1170 {
            margin-top: 5px;
            margin-bottom: 45px;
        }

        @media @bw768 {
            margin-top: 11px;
            margin-bottom: 40px;
            font-size: 18px;  
        }

        &::before {
          content: attr(data-caption);
          margin-right: 30px;
        }
        &::after {
          content: attr(data-currency);
          margin-left: 4px;
          font-size: 0.95em;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;    
        align-items: flex-end;
        margin-bottom: 0 0 35px;
    }

    &__price-item {
        position: relative;
        box-sizing: border-box;
        min-height: 24px;
        margin-bottom: 15px;
        padding-left: 34px;
        padding-top: 2px;
        font-size: 14px;
        line-height: 19px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            background-color: @black;

            @media @bw768 {
                top: 4px;
                width: 20px;
                height: 20px; 
            }
        }

        &::after {
            content: attr(data-caption);

        }
        
        &--red {
            &::before {
            background-color: @red;
             }
             @media @bw768 {
                margin-bottom: 6px;
            }
             
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__price-list {
        margin-bottom: 40px;
        @media @bw768 {
            margin-bottom: 29px;
            align-self: flex-start;  
        }
    }

    &__btn-tickets {
        padding: 15px 140px;
        border: transparent;
        background-color: @red;
        outline: none;
        color: @white;

        @media @bw1660 {
            padding: 9px 108px;
        }

        @media @bw1170 {
            padding: 9px 133px;
        }

        @media @bw768 {
            width: 100%;
            padding: 15px 60px;
            font-size: 14px;  
        }

        &:active {
            background-color: @red_dark;
            color: @white;
        }
    
        &:hover{
            @media (hover: hover) {
            background-color: @red_dark;
            color: @white;
            }
        }
    }
    
    &__notation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media @bw768 {
            align-self: self-start;    
        }
    }
    
    &__note {
        position: relative;
        box-sizing: border-box;
        min-height: 24px;
        margin-bottom: 13px;
        padding-left: 54px;
        padding-top: 2px;
        font-size: 14px;
        line-height: 19px;

        @media @bw768 {
            padding-left: 45px;
            align-self: self-start;    
        }
        
        &--free {
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                box-sizing: border-box;
                display: block;
                width: 24px;
                height: 24px;
                border: 1px solid @black;  
                border-radius: 50%;
            }

            &::after {
                left: 12px;
                border-color: @red;
            }

            @media @bw768 {
                margin-top: -5px;    
            }
        }

        &--booked {
            
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: @gray_dark;
            }

            @media @bw768 {
                margin-top: 4px;    
            }
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }  
}