.reserve{
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
        "checks scheme"
        "order legend";
    width: 100%;

    &__checks{
        grid-area: checks;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__label{
        &--red{
            color: @red;
        }
        &--disabled{
            color: @gray_dark;
        }
    }

    &__order{
        grid-area: order;
    }

    &__scheme{
        grid-area: scheme;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__legend{
        grid-area: legend;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    &__section-title{
        margin: 0 0 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: normal;
        &--mb30{
            margin-bottom: 30px;
        }
    }

    &__check{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__scheme-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 780px;
    }

    &__scheme-title{
        margin: 0 0 40px;
        padding: 6px 56px;
        background-color: @black;
        color: @white;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

    &__scheme-wrapper {
        position: relative;
        width: 100%;

        &::after {
          content: "";
          display: block;
          width: 100%;
          padding-top: 51.15384%;
        }
    }
    
    &__scene {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__tickets {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__qty { 
        padding-bottom: 18px;
        font-size: 16px;
        
        &::after {
            content: " " attr(data-caption) " | " attr(data-price);
        }
    }

    &__sum {
        font-weight: 600;
        &::after {
            content: attr(data-currency);
            margin-left: 4px;
            font-size: 0.95em;
        }
    }

      &__total {
        margin-top: 10px;
        margin-bottom: 40px;
        text-align: center;
        font-weight: 600;
        font-size: 20px; 
        &::before {
          content: attr(data-caption);
          margin-right: 30px;
        }
        &::after {
          content: attr(data-currency);
          margin-left: 4px;
          font-size: 0.95em;
        }
    }

      &__price{
        display: flex;
        flex-direction: column;    
        align-items: flex-end;
        margin-bottom: 0 0 35px;
    }

    &__price-item{
        position: relative;
        box-sizing: border-box;
        min-height: 24px;
        margin-bottom: 15px;
        padding-left: 34px;
        padding-top: 2px;
        font-size: 14px;
        line-height: 19px;

        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            background-color: @black;
        }

        &::after{
            content: attr(data-caption);

        }
        
        &--red{
            &::before{
            background-color: @red;
             }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__price-list{
        margin-bottom: 30px;
    }

    &__btn-tickets{
        padding: 15px 131px;
        border: transparent;
        background-color: @red;
        outline: none;
        color: @white;
        &:active{
            background-color: @red_dark;
            color: @white;
        }
    
        &:hover{
            @media (hover: hover){
            background-color: @red_dark;
            color: @white;
            }
        }
    }
    

    &__notation{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    &__note{
        position: relative;
        box-sizing: border-box;
        min-height: 24px;
        margin-bottom: 13px;
        padding-left: 54px;
        padding-top: 2px;
        font-size: 14px;
        line-height: 19px;
        
        &--free{
            &::before,
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                box-sizing: border-box;
                display: block;
                width: 24px;
                height: 24px;
                border: 1px solid @black;  
                border-radius: 50%;
            }

            &::after{
                left: 12px;
                border-color: @red;
            }
        }

        &--booked{
            &::before{
                content: "";
                position: absolute;
                left: 6px;
                top: 0;
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: @gray_dark;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }  
}